body {
    margin: 0;
    padding: 0;
    background: url('img1_rbc.png') center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-family: 'Georgia', serif;
}

#site-icon {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    margin-right: 10px; /* Adjust the margin as needed */
    
    /* Set position to absolute or relative */
    position: absolute; /* or "relative" depending on your layout */
    
    /* Set the distance from the top and left edges */
    top: 10px; /* Adjust the top distance as needed */
    left: 10px; /* Adjust the left distance as needed */
}

header {
    background-color: #6D3E00;
    padding: 15px;
    text-align: center;
    color: #fff;
}

h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

section {
    padding: 20px;
    background: rgba(249, 247, 245, 0.9);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#homepage, #purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.menu-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.menu-table th,
.menu-table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

.menu-table h3 {
    margin: 0;
    font-size: 1.2em;
}

.menu-table input[type="number"] {
    width: 40px; /* Adjust the width as needed */
}


